:root {
    --primary: #0F2854;
    --secondary: #1C4D8D;
    --banner: #4988C4;
    --button: #BDE8F5;
    
    --pastel-green: #c4d7b2;
    --pastel-blue: #93b4d4;
    --pastel-purple: #be7fd0;
}


.main-content {
    flex: 1;
    padding: 40px 50px;
    background-color: #ffffff;
}

.header-title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--primary);
    letter-spacing: 1px;
}

.section {
    margin-bottom: 30px;
}

.section-title {
    font-size: 22px;
    margin-bottom: 15px;
    color:var(--primary);
    font-weight: 700;
}

.cards-grid {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.card {
    flex: 1;
    border-radius: 15px;
    padding: 20px;
    color: #000;
}

.card .card-icon {
    font-size: 24px;
    margin-bottom: 8px;
}

.card .card-title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
}

.card .card-desc {
    font-size: 14px;
    line-height: 1.3;
}

.card-green { background-color: var(--pastel-green); }
.card-blue { background-color: var(--pastel-blue); }
.card-purple { background-color: var(--pastel-purple); }

.section-subtitle {
    font-size: 15px;
    margin-bottom: 20px;
    color: #387aa0;
}

.appointment-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.appointment-card {
    background-color: var(--pastel-green);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 20px 30px;
}

.pet-icon-wrapper {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.pet-svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.appt-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    color: #000;
}

.appt-time {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    color: #000;
}

.time-label {
    font-weight: 600;
}

.time-value {
    font-size: 14px;
}

.btn-proses {
    background-color: var(--button); 
    color: #000;
    border: none;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-proses:hover {
    background-color: var(--banner);
    color: white;
}