body{
    background-color: #f0f4f8;
    font-family: Arial, Helvetica, sans-serif;
}

#Judul-Utama{
    color: blue;
}

.badge {
    background-color: grey;
}

.badge-wowo {
    background-color: #1f7fde;
}

#Lorem{
    color: navy;
}

.paragraf{
    color: grey;
    line-height: 1.6;
    display: inline-block;
    width: 300px;
    padding: 20px;
    border: 1px solid #000000;
    margin: auto;
}

.foto{
    margin: 20px auto;
}